#intro {
  display: flex;
  flex-direction: column;
  background-image: url(/assets/Background_Intro.png);
  background-size: cover;

  height: 100vh;
}

#projects {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
