#intro {
  display: flex;
  flex-direction: column;
  background-image: url(/assets/Background_Intro.png);
  background-size: cover;

  height: 100vh;
}

#projects {
  margin-top: 40px;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services {
  background-color: var(--base-gray-100);
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 88px 0 120px 0;
}
