.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-3 {
  grid-template-columns: 2fr 2fr 2fr;
}

.main-title {
  margin-inline: auto;
  margin-bottom: 40px;

  & p {
    font: var(--subtitle);
    color: var(--main-color-red);
    text-align: center;
  }

  & h2 {
    font: var(--text-bold-md);
  }
}
